<suite name="DBTestSuite">
    <test name="External">
        <classes>
            <class name="dbtests.external.UserTests" />
            <class name="dbtests.external.ClientTests" />
        </classes>
    </test>
    <test name="Entities">
        <classes>
            <class name="dbtests.entities.communications.CommunicationDeleteTests" />
            <class name="dbtests.entities.communications.CommunicationCopyTests" />
            <class name="dbtests.entities.communications.CommunicationCreateTests" />
            <class name="dbtests.entities.communications.CommunicationStartTests" />
            <class name="dbtests.entities.communications.CommunicationStopTests" />
            <class name="dbtests.entities.communications.CommunicationSaveTests" />
        </classes>
    </test>
</suite>